@model IDS.Models.TicketVM
@{
    ViewData["Title"] = "Ticket Page";
}

@{
    //ViewData["Title"] = ViewBag.thePluralEntity;
    Layout = null;
}



<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetion-view</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Ticket.css">
    <link rel="stylesheet" href="~/css/popup.css">



</head>
<body>


                <!-- Error Popup -->
            <div id="errorPopup" class="popup-overlay">
                <div class="popup-content error">
                    <h3>خطأ</h3>
                    <p id="error-message">@TempData["Error"]</p>
                    <button class="popup-button" onclick="closePopup('errorPopup')">إغلاق</button>
                </div>
            </div>


        <img src="~/Images/logo.png" alt="logo">
            <img src="~/Images/assiut.png" alt="assiut" id="assiut">
                <img src="~/Images/teeth.png" alt="teeth" id="teeth">

                <div class="text">
                    <h1>Free Clinics Admission From OutPatient</h1>
                </div>
                <h1 id="fill">إستمارة دخول بالمجان للعيادات الخارجية</h1>


                <br>
                <br>
                <br>


                <form asp-action="Edit" method="post">
                    <input asp-for-id="@Model.TicketID" type="hidden" value="@Model.TicketID">


                    <!-- الفورم الرئيسي -->
                    <!-- بيانات الكشف -->
                    <table class="date1">


                        <tr>
                            <th>تاريخ الكشف</th>
                            <td colspan="6"><input type="date" name="تاريخ الكشف" class="date full-width" asp-for="AppointmentDate"></td>
                        </tr>


                        <tr>
                            <th>تاريخ الكشف القادم</th>

                         
                <td colspan="6"><input type="date" name="NextDate" class="date full-width" asp-for="NextDate"></td>
            </tr>
            <tr>
                <th>يتوجه إلي</th>
                <td colspan="6"><input type="number" name="status" class="date full-width"asp-for="Status"></td>
            </tr>

        </table>







        <!-- @*        
          <tr>
                    <th>رقم الكشف</th>
                    <td><input type="text" name="رقم الكشف" class="num"></td>
                    <td><input type="text" name="رقم الكشف" class="num"></td>
                    <td><input type="text" name="رقم الكشف" class="num"></td>
                    <td><input type="text" name="رقم الكشف" class="num"></td>
                    <td><input type="text" name="رقم الكشف" class="num"></td>
                    <td><input type="text" name="رقم الكشف" class="num"></td>
                </tr> *
                @ -->

             <!-- @*  
                <tr>
                    <th>رقم تذكرة الكشف</th>
                    <td colspan="6"><input type="text" name="رقم تذكرة الكشف" class="ticket full-width"></td>
                </tr>
                 *@ -->




        <div class="containers-wrapper">

            <!-- البيانات الشخصية -->
            <div class="container2">
                <h2>البيانات الشخصية</h2>

                <div class="field">
                    <label>الاسم رباعي:</label>
                    <input asp-for="Name" type="text">
                </div>

                <div class="field">
                    <label>العنوان:</label>
                    <input asp-for="Address" type="text">
                </div>

                <div class="field">
                    <label>رقم الهاتف:</label>
                    <input asp-for="phoneNumber" type="text">
                </div>

                <div class="field">
                    <label>المهنة:</label>
                    <input asp-for="profession" type="text">
                </div>

                <div class="field">
                    <label>الرقم القومي:</label>
                    <input asp-for="PatientId" type="text">
                </div>

                <div class="field">
                    <label>النوع:</label>
                    <select asp-for="Gender" class="form-control">
                        <option value="Male">ذكر</option>
                        <option value="Female">أنثي</option>
                    </select>

                    <div class="field">
                        <label class="age">السن:</label>
                        <input asp-for="Age" type="text" name="السن">
                    </div>
                </div>
            </div>

            <!--العيادات-->


            <div class="container3">
                <h3>:Referred to</h3>
                <div class="checklist">
                    <div class="group">
                        <div class="item"><input asp-for="Oral" type="checkbox" id="oral"><label for="oral"> Oral med. & Perio<br><span>طب الفم وعلاج اللثة</span></label></div>
                        <div class="item"><input asp-for="RemovableProsth" type="checkbox" id="removable"><label for="removable"> Removable prosth<br><span>تركيبات متحركة</span></label></div>
                        <div class="item"><input asp-for="Operative" type="checkbox" id="operative"><label for="operative"> Operative<br><span>حشو</span></label></div>
                        <div class="item"><input asp-for="Endodontic" type="checkbox" id="endodont"><label for="endodont"> Endodont<br><span>علاج الجذور</span></label></div>
                        <div class="item"><input asp-for="Ortho" type="checkbox" id="ortho"><label for="ortho"> Ortho<br><span>تقويم</span></label></div>
                    </div>
                    <div class="group">
                        <div class="item"><input asp-for="CrownAndBridge" type="checkbox" id="crown"><label for="crown"> Crown & Bridge<br><span>تركيبات ثابتة</span></label></div>
                        <div class="item"><input asp-for="Surgery" type="checkbox" id="surgery"><label for="surgery"> Surgery<br><span>جراحة</span></label></div>
                        <div class="item"><input asp-for="Pedo" type="checkbox" id="pedo"><label for="pedo"> Pedo<br><span>أطفال</span></label></div>
                        <div class="item"><input asp-for="XRay" type="checkbox" id="xray"><label for="xray"> X-ray<br><span>أشعة</span></label></div>
                    </div>
                </div>
            </div>
        </div>







        <div class="container4">
            <h2>Medical History</h2>
            <table border="1" class="table2">
                <tr>
                    <td><input asp-for="HeartTrouble" type="checkbox"> Heart trouble</td>
                    <td class="checkbox-row">
                        <label>Hepatitis</label>
                        <div class="checkbox-group">
                            <label> A <input type="checkbox" id="A"></label>
                            <label> B <input type="checkbox" id="B"></label>
                            <label> C <input type="checkbox" id="C"></label>
                        </div>
                    </td>
                    <td><input asp-for="Anemia" type="checkbox"> Anemia</td>
        </div>
        <td><input asp-for="AspirinIntake" type="checkbox"> Aspirin Intake</td></div>
        </tr>
        <tr>
            <td><input asp-for="Hyperttention" type="checkbox"> Hypertension</td>
            <td><input asp-for="AIDs" type="checkbox"> AIDs</td>
            <td><input asp-for="Rheumatism" type="checkbox"> Rheu. Arthritis</td>
            <td><input asp-for="KidneyTroubles" type="checkbox"> Kidney Troubles</td>
        </tr>
        <tr>
            <td><input asp-for="Pregnancy" type="checkbox"> Pregnancy</td>
            <td><input asp-for="Tuberculosis" type="checkbox"> Tuberculosis</td>
            <td><input asp-for="RadTherapy" type="checkbox"> Red. Therapy</td>
            <td><input asp-for="Asthma" type="checkbox"> Asthma</td>
        </tr>
        <tr>
            <td><input asp-for="Diabetes" type="checkbox"> Diabetes</td>
            <td><input asp-for="Allergies" type="checkbox"> Allergies</td>
            <td><input asp-for="Haemophilia" type="checkbox"> Haemophilia</td>
            <td><input asp-for="HayFever" type="checkbox"> Hay Fever</td>
        </tr>

        </table>
        <label class="text4">Medical History & Present Medication</label>


        <textarea asp-for="MedicalHistoryText"></textarea>
        </div>
        <br>
        <br>
        <br>
        <label class="text2">:Chief Complaint</label>
        <textarea class="ChiefComlant" asp-for="ChiefComlant"></textarea>
        <label class="text3">:Previsional Diagnosis</label>
        <textarea asp-for="PrevisionalDiagnosis" class="diagnosis">1- ..........................................................
    2- ..........................................................
    3- ..........................................................
    4- ..........................................................
    5- ..........................................................</textarea>

        <div class="submit-container">
            <button id="back" class="submit-btn" style="text-decoration : none;">تعديل</button>


        </div>


    </form>



    <!-- Script -->
    <script>
        function closePopup(id) {
            document.getElementById(id).style.display = "none";
        }

        window.onload = function () {
            var error = "@TempData["Error"]";
            // var success = "@TempData["success"]";

            if (error && error.trim() !== "") {
                document.getElementById("errorPopup").style.display = "flex";
            }

            // if (success && success.trim() !== "") {
            //     document.getElementById("successPopup").style.display = "flex";
            // }
        };
    </script>



</body>
</html>